<?xml version="1.0"?>

<launch>
    <!-- Formatting -->
    <env name='ROSCONSOLE_FORMAT' value='(${node})[${severity}]: ${message}'/>

    <!-- Viz file -->
    <!-- <include file="$(find arm_description)/../../launch/display.launch"/> -->

    <!-- Joystick input -->
    <!-- You can rename value freely-->
    <param name="joy_node_arm/dev" value="/dev/rover/js/xbox_360" />
    <node name="joy_node_arm" pkg="joy" type="joy_node" output="screen">
        <remap from="/joy" to="/xbox_arm"/>
    </node>

    <!-- Nodes -->
    <node name= "Mode_Manager" pkg="arm_control" type="ModeManager.py" />
    <node name="IK_Controller" pkg="arm_control" type="IKController.py" />
    <node name="JBJ_Controller" pkg="arm_control" type="JBJController.py" />
    <node name="Motor_Manager" pkg="arm_control" type="MotorManager.py" />
    <node name="DLT_Controller" pkg="arm_control" type="DLTController.py" />

</launch>