<?xml version="1.0"?>

<launch>
    <!-- Formatting -->
    <env name='ROSCONSOLE_FORMAT' value='(${node})[${severity}]: ${message}'/>

    <!-- Nodes -->
    <node name= "Mode_Manager" pkg="arm_control" type="ModeManager.py" />
    <node name="IK_Controller" pkg="arm_control" type="IKController.py" />
    <node name="JBJ_Controller" pkg="arm_control" type="JBJController.py" />
    <node name="Simulation_Manager" pkg="arm_control" type="SimManager.py" />

</launch>